{% extends "main.html" %}

{% block content %}
	<section id="module-wrapper">
		<section id="module" class="homepage">

			{% include "component/homepage/homepage.html" %}

		</section>
	</section>
{% endblock %}
