{% extends "main.html" %}

{% block content %}
	<section id="module-wrapper">
		<section id="module" class="page-not-found">

            <div class="page-not-found-wrapper">
                <img src="/gfx/component/system/404.png" alt="404 - page not found.">
                <div class="text-wrapper">
                    <h1>404</h1>
                    <h2>
                        Looks like this page is missing.
                    </h2>
                    <h3>
                        Don't worry though. Our best man is on the case.
                    </h3>
                    <br>
                    <h4>
                        Click here to investigate Atomica yourself.
                    </h4>
                    <br>
                    <a href="/" class="button is-danger link" data-link="/">Home</a>
                </div>
            </div>

		</section>
	</section>
{% endblock %}
