<footer id="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                Copyright © <span class="year"></span> - Capica B.V.
            </div>
        </div>
    </div>
</footer>
