<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="logo-brand" class="logo-brand" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 147 175" style="enable-background:new 0 0 147 175;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#010101;}
</style>
<path class="st0" d="M22.9,37.8c13.8-13.7,30.4-20.5,49.7-20.5c19.3,0,35.9,6.8,49.7,20.5C136.1,51.4,143,67.9,143,87.3
	s-6.9,35.8-20.7,49.3c-13.8,13.5-30.4,20.3-49.7,20.3c-19.3,0-35.9-6.8-49.7-20.3C9.2,123,2.3,106.6,2.3,87.3S9.2,51.4,22.9,37.8z
	 M111.8,47.6C101.1,36.7,88,31.2,72.6,31.2c-15.4,0-28.5,5.5-39.2,16.4C22.7,58.5,17.3,71.7,17.3,87.1c0,15.3,5.4,28.4,16.2,39.4
	c10.8,11,23.8,16.5,39.1,16.5c15.3,0,28.3-5.5,39.1-16.5c10.8-11,16.2-24.1,16.2-39.4C128,71.7,122.6,58.5,111.8,47.6z"/>
<path class="st0" d="M43.1,106.7c0,0-0.9-1.4-2.6-3.9c-1.7-2.6-4.1-6.4-7.1-11.4c-3-5-6.4-11.1-9.9-18.4
	c-3.5-7.3-7.2-15.6-10.2-25.2c-0.7-2.4-1.4-4.9-2-7.5c-0.5-2.6-1.1-5.2-1.4-8c-0.3-2.8-0.5-5.6-0.3-8.6c0.2-3,0.7-6.1,2-9.2
	c0.3-0.8,0.8-1.5,1.1-2.3c0.5-0.7,1-1.5,1.5-2.2c0.6-0.7,1.2-1.4,1.9-2l1.1-0.9l1.2-0.8L18.9,6C19,6,19,5.9,19.2,5.8l0.4-0.2
	c0.5-0.2,1-0.5,1.4-0.7c0.5-0.2,0.9-0.4,1.4-0.5l1.4-0.4c0.9-0.2,1.8-0.4,2.7-0.5c0.9-0.1,1.8-0.2,2.7-0.1c3.6,0,7,0.7,10.2,1.7
	c3.3,1,6.4,2.2,9.3,3.7c6,3,11.5,6.6,16.8,10.7c5.3,4.1,10.3,8.5,15.1,13.3c1.2,1.2,2.4,2.4,3.5,3.6c1.2,1.2,2.3,2.4,3.5,3.7
	c2.3,2.5,4.5,5.1,6.6,7.7c1.1,1.3,2.1,2.6,3.2,4c1,1.3,2,2.7,3.1,4.1l3,4.1l2.9,4.2l2.7,4.2l2.7,4.4c1.8,2.9,3.5,5.8,5.1,8.8
	c1.6,3,3.2,6,4.6,9c0.7,1.5,1.4,3.1,2.1,4.6c0.7,1.5,1.4,3.1,2,4.6c2.6,6.2,4.8,12.6,6.6,19c1.7,6.4,3,13,3.5,19.6
	c0.3,3.3,0.3,6.7-0.1,10.1c-0.3,3.4-1,6.8-2.3,10.1c-0.3,0.8-0.8,1.6-1.2,2.5c-0.4,0.8-1,1.6-1.5,2.4c-1.2,1.5-2.4,2.9-4,4l-0.6,0.4
	l-0.3,0.2l-0.1,0.1c0,0-0.5,0.3-0.4,0.2l-1,0.5l-0.5,0.2l-0.7,0.3c-0.5,0.2-1,0.4-1.4,0.5c-0.9,0.3-1.8,0.4-2.6,0.6
	c-0.9,0.1-1.7,0.2-2.6,0.2c-3.4,0-6.5-0.7-9.3-1.6c-2.8-0.9-5.4-2.2-7.9-3.5c-2.5-1.3-4.7-2.8-6.9-4.3c-2.1-1.5-4.2-3.1-6.2-4.7
	c-7.8-6.4-14.1-12.9-19.5-19c-5.4-6-9.8-11.5-13.3-16.1c-3.5-4.6-6.1-8.3-7.9-10.8C44,108.1,43.1,106.7,43.1,106.7z M43.1,106.7
	c0,0,0.9,1.4,2.7,3.9c1.8,2.5,4.4,6.2,8.1,10.7c1.8,2.2,3.9,4.7,6.2,7.3c2.3,2.6,4.9,5.3,7.7,8.2c2.8,2.8,6,5.7,9.4,8.6
	c3.4,2.9,7.2,5.8,11.2,8.5c4,2.7,8.5,5.2,13.2,7.2c2.4,0.9,4.8,1.8,7.3,2.3c2.5,0.5,5,0.7,7.3,0.4c0.6,0,1.1-0.2,1.7-0.3
	c0.5-0.2,1.1-0.3,1.5-0.5c0.2-0.1,0.4-0.2,0.6-0.3c0.1,0,0.2-0.1,0.3-0.1l0.5-0.3l0.9-0.6c0.2-0.1-0.2,0.1-0.1,0.1l0.1-0.1l0.1-0.1
	l0.3-0.3c0.8-0.7,1.3-1.5,1.9-2.4c0.2-0.5,0.5-1,0.7-1.5c0.2-0.6,0.4-1.1,0.5-1.7c0.6-2.3,0.8-4.9,0.8-7.6c-0.1-2.7-0.4-5.5-0.9-8.3
	c-0.5-2.8-1.2-5.7-2-8.5c-0.8-2.9-1.8-5.7-2.8-8.6c-1-2.9-2.2-5.7-3.4-8.5c-1.2-2.8-2.5-5.7-3.9-8.5c-1.4-2.8-2.8-5.6-4.3-8.4
	c-1.5-2.8-3-5.6-4.6-8.3c-1.6-2.7-3.3-5.5-4.9-8.2l-2.5-4l-2.7-4.1L91,68.7l-2.8-3.9c-1.9-2.6-3.8-5.1-5.7-7.7
	c-1.9-2.5-3.9-5-5.9-7.4c-1-1.2-2-2.4-3-3.6c-1-1.2-2.1-2.4-3.1-3.5c-2.1-2.3-4.2-4.6-6.4-6.8c-2.2-2.2-4.4-4.3-6.6-6.4
	c-2.2-2.1-4.5-4-6.9-5.8c-2.3-1.9-4.7-3.6-7.1-5.1c-2.4-1.5-4.9-2.9-7.4-4c-2.5-1.1-5-1.9-7.3-2.1c-0.6-0.1-1.2-0.1-1.7-0.1
	c-0.6,0-1.1,0.1-1.7,0.1l-0.8,0.1c-0.3,0-0.6,0.1-0.7,0.1c-0.2,0.1-0.4,0.1-0.6,0.2l-0.2,0c-0.1,0-0.2,0.1-0.2,0.1L22.3,13
	c-1.9,0.9-3.5,2.3-4.6,4.4c-1.2,2-1.9,4.4-2.4,6.9c-0.5,2.5-0.6,5.1-0.6,7.6c0.1,5.1,0.7,10.2,1.7,15c1,4.8,2.2,9.3,3.6,13.6
	c1.4,4.3,2.9,8.3,4.5,12c1.5,3.7,3.1,7.1,4.6,10.2c1.6,3.1,3,5.9,4.4,8.5c2.8,5.1,5.2,8.9,6.9,11.5
	C42.2,105.3,43.1,106.7,43.1,106.7z"/>
</svg>
