<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATOMICA | Front-end framework</title>
    <meta name="author" content="Capica B.V.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/gfx/favicon.ico?v=1" />

    <!-- Bulma - CSS framework -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- build:css /build/@@site_assets['main.css']@@ -->
    <link rel="stylesheet" type="text/css" href="/build/main.css">
    <!-- endbuild -->

    <!-- build:js /build/@@site_assets['main.js']@@ -->
    <script src="/build/main.js"></script>
    <!-- endbuild -->
</head>
