.page-not-found-wrapper {
    height: calc(100vh - 82px);
    width: 100%;
    background: #f1f1f1;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-wrapper {
        margin-left: 50px;
        h1 {
            font-size: 90px;
            line-height: 90px;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }
}
