<section id="homepage-header" class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            {% include "element/svg/logo-full.html" %}
            <p>
                Event driven, SPA ready, front-end framework.
            </p>
            <p>
                Testing develop branch in git. (AGAIN 2)
            </p>
        </div>
    </div>
</section>
