<section id="main-navigation">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="dropdown navigation">

            <a href="/" class="navbar-item logo link" data-link="/">
                {% include "element/svg/logo-brand.html" %}
                <h4 class="subtitle is-4">Atomica</h4>
            </a>

            <div class="navbar-end">
                <a href="https://bitbucket.org/jeffersoncapica/atomica-2.0/src" target="_blank" class="navbar-item external">
                    Bitbucket <i class="far fa-external-link-alt"></i>
                </a>
            </div>

        </nav>
    </div>
</section>
