#main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    z-index: 9999;
    border-bottom: 1px solid #e9e9e9;
    .logo {
        svg {
            height: 25px;
            path {
                fill: hsl(348, 100%, 61%);
            }
        }
        h4 {
            margin-left: 6px;
        }
    }
    a.navbar-link,
    a.navbar-item {
        &:after {
            border-color: hsl(348, 100%, 61%);
        }
        &:hover,
        &.is-active {
            color: hsl(348, 100%, 61%);
        }
    }
}
