<!DOCTYPE html>
<html lang="en">

	{% include "element/head/head.html" %}

	<body>
		<!-- This element displays when stuff is happening.. -->
		<div id="page-loader" class="loading"></div>

		{% include "element/navigation/navigation.html" %}

		<!-- all content is injected into #app, also after ajax calls -->
		<section id="app">
			{% block content %} {% endblock %}
		</section>

		{% include "element/footer/footer.html" %}

	</body>

</html>
