<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="logo-full" class="logo-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 841.9 175" style="enable-background:new 0 0 841.9 175;" xml:space="preserve">
    <path class="st0" d="M96.4,118.5H36.3l-17,39.9H2.1L67.1,11l63.3,147.4H113L96.4,118.5z M90.2,103.9L66.7,47.6l-24.1,56.4H90.2z"/>
    <path class="st0" d="M168,32.3v126.1h-15.7V32.3h-34V17.7h84v14.6H168z"/>
    <path class="st0" d="M232.8,36.7c14.4-14.2,31.6-21.4,51.8-21.4c20.2,0,37.4,7.1,51.8,21.4C350.8,50.9,358,68.1,358,88.3
    	s-7.2,37.3-21.6,51.4c-14.4,14.1-31.6,21.2-51.8,21.2c-20.2,0-37.4-7.1-51.8-21.2c-14.4-14.1-21.6-31.3-21.6-51.4
    	S218.5,50.9,232.8,36.7z M325.5,46.9c-11.2-11.4-24.8-17.1-40.9-17.1c-16,0-29.7,5.7-40.9,17.1C232.6,58.3,227,72,227,88.1
    	c0,15.9,5.6,29.6,16.9,41.1c11.3,11.4,24.8,17.2,40.8,17.2c15.9,0,29.5-5.7,40.8-17.2c11.3-11.4,16.9-25.1,16.9-41.1
    	C342.3,72,336.7,58.3,325.5,46.9z"/>
    <path class="st0" d="M369,158.4L397.5,9.7l51.1,118.1L500,9.7l28.5,148.7h-16l-18.1-95.2H494l-45.3,100.9L403.5,63.3h-0.4L385,158.4
    	H369z"/>
    <path class="st0" d="M562.5,17.7v140.7h-15.7V17.7H562.5z"/>
    <path class="st0" d="M698.3,29.1v19.4c-12.1-12.4-26.4-18.7-42.9-18.7c-15.6,0-28.9,5.8-40,17.4c-11.1,11.6-16.7,25.2-16.7,40.9
    	c0,15.7,5.6,29.3,16.8,40.9c11.2,11.6,24.6,17.4,40.3,17.4c15.9,0,30.1-6.2,42.5-18.7V147c-12.7,9.2-26.7,13.8-42,13.8
    	c-19.9,0-37.1-7.1-51.6-21.2c-14.5-14.1-21.7-31.1-21.7-51c0-20.2,7.2-37.4,21.6-51.8c14.4-14.4,31.6-21.6,51.8-21.6
    	C672,15.3,686,19.9,698.3,29.1z"/>
    <path class="st0" d="M806,118.5h-60.1l-17,39.9h-17.2L776.7,11l63.3,147.4h-17.4L806,118.5z M799.8,103.9l-23.5-56.4l-24.1,56.4
    	H799.8z"/>
    <path class="st0" d="M253.8,108.5c0,0-1-1.4-2.7-4.1c-1.7-2.7-4.3-6.7-7.4-11.9c-3.1-5.2-6.6-11.6-10.3-19.1
    	c-3.7-7.6-7.5-16.3-10.6-26.3c-0.8-2.5-1.4-5.1-2.1-7.8c-0.6-2.7-1.1-5.5-1.4-8.3c-0.3-2.9-0.5-5.9-0.3-9c0.2-3.1,0.7-6.3,2.1-9.6
    	c0.3-0.8,0.8-1.6,1.2-2.4c0.5-0.8,1-1.6,1.6-2.3c0.6-0.7,1.2-1.5,2-2.1l1.1-0.9l1.2-0.8l0.5-0.3c0.1-0.1,0.1-0.1,0.3-0.2l0.4-0.2
    	c0.5-0.2,1-0.5,1.5-0.7c0.5-0.3,1-0.4,1.4-0.5l1.4-0.4c0.9-0.2,1.9-0.4,2.8-0.5c0.9-0.1,1.9-0.2,2.8-0.2c3.7,0,7.3,0.7,10.7,1.7
    	c3.4,1,6.6,2.3,9.7,3.9c6.2,3.1,12,6.9,17.5,11.1c5.5,4.2,10.8,8.8,15.7,13.8c1.2,1.2,2.5,2.5,3.7,3.8c1.2,1.3,2.4,2.6,3.6,3.9
    	c2.4,2.6,4.6,5.3,6.9,8c1.1,1.4,2.2,2.8,3.3,4.1c1.1,1.4,2.1,2.8,3.2,4.2l3.1,4.3l3.1,4.4l2.8,4.3l2.8,4.6c1.8,3,3.6,6.1,5.3,9.2
    	c1.7,3.1,3.3,6.2,4.8,9.4c0.8,1.6,1.5,3.2,2.2,4.8c0.7,1.6,1.4,3.2,2.1,4.8c2.7,6.5,5,13.1,6.9,19.8c1.8,6.7,3.2,13.5,3.7,20.4
    	c0.3,3.5,0.3,7-0.1,10.5c-0.3,3.5-1,7.1-2.4,10.5c-0.3,0.9-0.8,1.7-1.2,2.6c-0.4,0.8-1,1.6-1.5,2.5c-1.2,1.5-2.5,3-4.2,4.2l-0.6,0.4
    	l-0.3,0.2l-0.2,0.1c0,0-0.5,0.3-0.4,0.2l-1,0.5l-0.5,0.3l-0.7,0.3c-0.5,0.2-1,0.4-1.5,0.5c-1,0.3-1.8,0.4-2.8,0.6
    	c-0.9,0.1-1.8,0.2-2.7,0.2c-3.5,0-6.7-0.7-9.7-1.7c-3-1-5.6-2.3-8.2-3.7c-2.6-1.4-4.9-2.9-7.2-4.5c-2.2-1.6-4.4-3.2-6.4-4.9
    	c-8.1-6.6-14.7-13.5-20.3-19.8c-5.6-6.3-10.2-12-13.8-16.8c-3.6-4.8-6.4-8.7-8.2-11.3C254.8,109.9,253.8,108.5,253.8,108.5z
    	 M253.8,108.5c0,0,1,1.4,2.8,4.1c1.9,2.6,4.6,6.5,8.4,11.2c1.9,2.3,4,4.9,6.4,7.6c2.4,2.7,5.1,5.6,8.1,8.5c2.9,3,6.2,6,9.8,9
    	c3.6,3,7.5,6,11.7,8.8c4.2,2.8,8.8,5.5,13.8,7.5c2.5,1,5,1.9,7.6,2.4c2.6,0.5,5.2,0.8,7.6,0.4c0.6-0.1,1.2-0.2,1.7-0.3
    	c0.5-0.2,1.1-0.4,1.6-0.6c0.2-0.1,0.4-0.2,0.6-0.3c0.1-0.1,0.2-0.1,0.3-0.1l0.5-0.3l0.9-0.6c0.2-0.2-0.2,0.1-0.1,0.1l0.1-0.1
    	l0.1-0.1l0.3-0.3c0.8-0.7,1.4-1.6,2-2.5c0.2-0.5,0.5-1,0.7-1.6c0.2-0.6,0.4-1.1,0.6-1.7c0.6-2.4,0.9-5.1,0.8-7.9
    	c-0.1-2.8-0.4-5.7-0.9-8.7c-0.5-2.9-1.2-5.9-2.1-8.9c-0.8-3-1.8-6-2.9-8.9c-1.1-3-2.3-5.9-3.5-8.9c-1.3-3-2.6-5.9-4.1-8.8
    	c-1.4-2.9-2.9-5.9-4.5-8.8c-1.5-2.9-3.2-5.8-4.8-8.7c-1.7-2.9-3.4-5.7-5.2-8.5l-2.7-4.2l-2.8-4.3l-2.8-4.1l-2.9-4.1
    	c-2-2.7-3.9-5.4-6-8c-2-2.6-4.1-5.2-6.2-7.7c-1-1.3-2.1-2.5-3.2-3.8c-1.1-1.3-2.1-2.5-3.2-3.7c-2.2-2.4-4.4-4.8-6.6-7.1
    	c-2.3-2.3-4.6-4.5-6.9-6.7c-2.3-2.1-4.7-4.2-7.2-6.1c-2.4-1.9-4.9-3.7-7.4-5.3c-2.5-1.6-5.1-3-7.7-4.1c-2.6-1.1-5.2-1.9-7.6-2.2
    	c-0.6-0.1-1.2-0.1-1.8-0.1c-0.6,0-1.1,0.1-1.7,0.1l-0.8,0.2c-0.3,0-0.6,0.1-0.7,0.2c-0.2,0.1-0.4,0.1-0.6,0.2l-0.2,0
    	c-0.1,0-0.2,0.1-0.2,0.1l-0.5,0.3c-2,0.9-3.6,2.4-4.8,4.6c-1.2,2.1-2,4.6-2.5,7.2c-0.5,2.6-0.6,5.3-0.6,8c0.1,5.3,0.7,10.6,1.8,15.6
    	c1,5,2.3,9.7,3.8,14.2c1.4,4.5,3,8.6,4.6,12.5c1.6,3.9,3.2,7.4,4.8,10.7c1.6,3.2,3.2,6.2,4.6,8.8c2.9,5.3,5.5,9.2,7.2,12
    	C252.9,107.1,253.8,108.5,253.8,108.5z"/>
</svg>
