#app {
    margin-top: 52px;
    opacity: 0;
    transition: opacity 0.5s;
    &.loaded {
        opacity: 1;
    }
}

#page-loader {
    opacity: 0;
	height: 4px;
	z-index: 9998;
	top: 52px;
	width: 100%;
	position: fixed;
	overflow: hidden;
	background-color: #d4d4d4;
    transition: opacity 0.3s;
    &:before {
    	display: block;
    	position: absolute;
    	content: "";
    	left: -200px;
    	width: 200px;
    	height: 4px;
    	background-color: #ff3860;
    	animation: loading 2s linear infinite;
    }
    &.loading {
        opacity: 1;
    }
}
@keyframes loading {
	from {left: -100%; width: 30%;}
	50% {width: 70%;}
	70% {width: 50%;}
	80% { left: 120%;}
	95% {left: 100%;}
	to {left: 100%;}
}

// Rewrite Bulma styling
a {
    color: hsl(348, 100%, 61%);
    &:hover {
        color: darken(hsl(348, 100%, 61%), 30%);
    }
    &.external {
        svg {
            height: 12px;
            margin-left: 3px;
            margin-top: 1px;
            color: #adadad;
        }
    }
}
